@charset "UTF-8";

.o_acrux_chat .o_acrux_group > .o_notebook > .tab-content > #tab_content_admin {
    height: 100%;
}

.o_acrux_chat .o_acrux_group > .o_notebook > .tab-content > #tab_content_admin .o_group {
    padding: 3px;
    height: 100%;
    width: 100%;
    overflow: auto;
}
