  
.o_hr_attendance_kiosk_mode .o_hr_attendance_pin_pad [class*="col-"] .o_hr_attendance_PINbox {    
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1) !important;
    border: 1px solid #dee2e6 !important;
}